* {
    margin: 0%;
    padding: 0%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*--------------------------------------------*/
#fondEcran {
    position: relative;
    height: 100%;
    width: 100%;
    background: url('../img/fondEcran.png');
    background-size: 100% 100%;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 200%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(245, 245, 245, 0);
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    height: 100px;
    width: 100%;
}

.perso {
    display: flex;
    justify-content: center;
    color: whitesmoke;
}

#footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    font-size: 20px;
    height: 86px;
    width: 100%;
    background: url('../img/footer.png');
    background-size: 100% 100%;
}

.code {
    background-color: rgba(153, 117, 19, 0.589);
    padding: 3px;
    border-radius: 5px;
    height: 40%;
    margin: 10px;
}

.fD {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*--------------------------------------------*/
.Gboite {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55%;
    width: 40%;
    border-radius: 20px;
    margin: 3%;
    border: solid rgb(255, 255, 255) 5px;
    background-color: rgba(243, 243, 243, 0.269);
}

/*--------------------------------------------*/
.score {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 3%;
    height: 50px;
    width: 50%;
    font-size: 200%;
    color: #ffffff;
    background-color: #4987b0ae;
    border-radius: 10px;
    border: solid rgb(255, 255, 255) 2px;
}

#cloud {
    height: 180%;
}

/*--------------------------------------------*/
.boite {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 2%;
    width: 100%;
}

#pierre {
    cursor: pointer;
    color: #ffffff;
    font-size: 0%;
    height: 100px;
    width: 100px;
    border-radius: 20%;
    background: url('../img/pierre.png');
    background-size: 100% 100%;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

#pierre:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#feuille {
    cursor: pointer;
    color: #ffffff;
    font-size: 0%;
    height: 100px;
    width: 100px;
    border-radius: 20%;
    background: url('../img/feuille.png');
    background-size: 100% 100%;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

#feuille:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#ciseaux {
    cursor: pointer;
    color: #ffffff;
    font-size: 0%;
    height: 100px;
    width: 100px;
    border-radius: 20%;
    background: url('../img/ciseaux.png');
    background-size: 100% 100%;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

#ciseaux:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/*--------------------------------------------*/
#bouton {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.valider,
.reset {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
    height: 50px;
    width: 200px;
    font-size: 200%;
    color: #ffffff;
    background-color: #4987b0ae;
    border-radius: 10px;
    border: solid rgb(255, 255, 255) 2px;
    text-decoration: none;
}

.valider:hover {
    background-color: #224f6dae;
}

.reset:hover {
    background-color: #224f6dae;
}

/*--------------------------------------------*/
.border {

    border: solid rgb(255, 255, 255) 5px;
}

.borderValide {

    border: solid rgb(219, 179, 58) 5px;
}

/*-------Peach----------*/

#peach {
    position: fixed;
    z-index: 1;
    height: 60vh;
    bottom: -60vw;
    /* Centrage horizontal et vertical */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* Transition CSS sur l'opacité */
    opacity: 1;
    transition: bottom 2s;
    border-radius: 5%;
}


/*-------BrowerJr---------*/

#browerJr {
    position: fixed;
    z-index: 1;
    height: 40vh;
    bottom: -35vw;
    /* Centrage horizontal et vertical */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* Transition CSS sur l'opacité */
    opacity: 1;
    transition: bottom 2s;
    border-radius: 5%;
}

/*-------koopa---------*/

#koopa {
    position: fixed;
    z-index: 1;
    height: 40vh;
    bottom: -1vw;
    left: -60vw;
    /* Centrage horizontal et vertical */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* Transition CSS sur l'opacité */
    opacity: 1;
    transition: left 2s;
    border-radius: 5%;
}

/*-------win---------*/
#win {
    position: fixed;
    z-index: 1;
    height: 30vh;
    bottom: -35vw;
    /* Centrage horizontal et vertical */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* Transition CSS sur l'opacité */
    opacity: 1;
    transition: bottom 2s;
    border-radius: 5%;
}

/*-------dawn---------*/
#dawn {
    position: fixed;
    z-index: 1;
    height: 30vh;
    bottom: 25vw;
    right: -50vw;
    /* Centrage horizontal et vertical */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* Transition CSS sur l'opacité */
    opacity: 1;
    transition: right 2s;
    border-radius: 5%;
}

/*-------loose---------*/
#loose {
    position: fixed;
    z-index: 1;
    height: 25vh;
    bottom: -35vw;
    /* Centrage horizontal et vertical */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* Transition CSS sur l'opacité */
    opacity: 1;
    transition: bottom 2s;
    border-radius: 5%;
}

/*--------------------------------------------*/
.player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 430px;
    height: 20px;
}

/*--------------------------------------------*/
#historique {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    border-radius: 10px;
    height: 100px;
    width: 430px;
}

.boiteH1,
.boiteH2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 215px;
    position: relative;
}

.resultP {
    opacity: 0%;
    transition: 2s;
    border-radius: 10px;
    position: absolute;
    height: 70%;
}

.resultF {
    opacity: 0%;
    transition: 2s;
    border-radius: 10px;
    position: absolute;
    height: 70%;
}

.resultC {
    opacity: 0%;
    transition: 2s;
    border-radius: 10px;
    position: absolute;
    height: 70%;
}

.resultP1 {
    opacity: 0%;
    transition: 2s;
    border-radius: 10px;
    position: absolute;
    height: 70%;
}

.resultF1 {
    opacity: 0%;
    transition: 2s;
    border-radius: 10px;
    position: absolute;
    height: 70%;
}

.resultC1 {
    opacity: 0%;
    transition: 2s;
    border-radius: 10px;
    position: absolute;
    height: 70%;
}

/*----------------------------Tablette-------ipad-ipadMini-------------------------*/
@media screen AND (min-width:769px) AND (max-width:1024px) {
    #fondEcran {
        height: 681px;
        background: url('../img/fondEcran.png');
        background-size: 100% 100%;
    }
    #nav {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        font-size: 200%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgba(245, 245, 245, 0);
        -webkit-text-stroke: 3px;
        -webkit-text-stroke-color: rgb(255, 255, 255);
        height: 100px;
        width: 100%;
    }
    #pierre {
        color: #ffffff;
        font-size: 0%;
        height: 70px;
        width: 70px;
        border-radius: 20%;
        background: url('../img/pierre.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out;
    }

    #pierre:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    #feuille {
        color: #ffffff;
        font-size: 0%;
        height: 70px;
        width: 70px;
        border-radius: 20%;
        background: url('../img/feuille.png');
        background-size: 100% 100%;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out;
    }

    #feuille:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    #ciseaux {
        color: #ffffff;
        font-size: 0%;
        height: 70px;
        width: 70px;
        border-radius: 20%;
        background: url('../img/ciseaux.png');
        background-size: 100% 100%;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out;
    }

    #ciseaux:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    .valider,
    .reset {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5%;
        height: 50px;
        width: 150px;
        font-size: 200%;
        color: #ffffff;
        background-color: #4987b0ae;
        border-radius: 10px;
        border: solid rgb(255, 255, 255) 2px;
        text-decoration: none;
    }

    .player {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }
    .playerN {
        width: 45%;
    }
    #historique {
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;
        border-radius: 10px;
        height: 100px;
        width: 100%;
    }
}

/*----------------------------Mobile---------------------------------*/
@media screen and (max-width:768px) {
    #fondEcran {
        
        height: 405px;
        width: 100%;
        background: url('../img/fondEcran.png');
        background-size: 100% 100%;
    }
    
    #nav {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 200%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgba(245, 245, 245, 0);
        -webkit-text-stroke: 3px;
        -webkit-text-stroke-color: rgb(255, 255, 255);
        height: 50px;
        width: 100%;
    }

.titleName {
height: 100px;
}
    #pierre {
        color: #ffffff;
        font-size: 0%;
        height: 50px;
        width: 50px;
        border-radius: 20%;
        background: url('../img/pierre.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out;
    }

    #pierre:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    #feuille {
        color: #ffffff;
        font-size: 0%;
        height: 50px;
        width: 50px;
        border-radius: 20%;
        background: url('../img/feuille.png');
        background-size: 100% 100%;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out;
    }

    #feuille:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    #ciseaux {
        color: #ffffff;
        font-size: 0%;
        height: 50px;
        width: 50px;
        border-radius: 20%;
        background: url('../img/ciseaux.png');
        background-size: 100% 100%;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out;
    }

    #ciseaux:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    .valider,
    .reset {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5%;
        height: 35px;
        width: 140px;
        font-size: 150%;
        color: #ffffff;
        background-color: #4987b0ae;
        border-radius: 10px;
        border: solid rgb(255, 255, 255) 2px;
        text-decoration: none;
    }
    .player {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 95%;
    }
    .playerN {
        width: 45%;
    }
    #historique {
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;
        border-radius: 10px;
        height: 80px;
        width: 100%;
    }
    .score {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 2%;
        height: 30px;
        width: 50%;
        font-size: 200%;
        color: #ffffff;
        background-color: #4987b0ae;
        border-radius: 5px;
        border: solid rgb(255, 255, 255) 2px;
    }
    
    #cloud {
        height: 150%;
    }


}